button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__white;
	// @include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	transition: all .3s ease 0s;
	outline: none;
	&:hover {
		// border-color: $color__border-button-hover;
		background: $color__white;
		color: $color__background-button;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
