.site-branding {
	background: #1a1b1f;
	// padding: 30px 0;
	line-height: 1;
	display: flex;
	> * {
		padding: 15px 40px;
		border-left: 1px solid #313236;
	}
}
.logo {
	// padding: 0 40px;
	margin-top: 11px;
}
.site-search {
	// padding: 0 40px;
	input.search-field {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border: none;
		@include font-size(1.3);
		padding: 12px;
	}
	.search-submit {
		background: $color__background-button;
		margin-left: -4px;
		padding-top: 12px;
		padding-bottom: 13px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		i {
			color: $color__white;
			padding: 10px;
		}
	}
}

