h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
	@include font-size(3);
}
h2 {
	@include font-size(2.6);
}
h3 {
	@include font-size(2.2);
}
h4 {
	@include font-size(2);
}
h5 {
	@include font-size(1.8);
}
h6 {
	@include font-size(1.6);
}
