$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #0063d1;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #44494f;

$color__border-button: #0063d1;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #0063d1;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-title: rgb(0, 99, 209);
$color__white: #fff;
$color__black: #000;
